@charset "utf-8";

/* ---------------------------------------------------------------------------------------------

　   HEADER

--------------------------------------------------------------------------------------------- */

header {
	/* font-weight: 500; */
	/* max-width: 1028px; */
}

nav li a {
color: #382A3F;

}


@media only screen and ( max-width : 1000px ) {


  header {
    height: 70px;
	  position: fixed;
	  top: 0;
	  background: #FFF;
	  width: 100%;
	  z-index: 99999;
	  font-size: 16px;
  }
  .h_logo {
	  width: 200px;
	  margin: 0 0 0 5%;
	  padding: 5px 0 0 0;
	  position: relative;
	  z-index: 100;
  }
	
	.h_logo img {
		/* width:100%; */
		height: auto;
	}

  .mean-nav .container {
    padding: 0;
  }

	
nav .sub-menu,.mean-container .mean-nav ul ul {
  background: #e8e8e8;
}
	
	.sub-menu {
	  font-size: 13px;
  }
	
	.nav li {
		border-top: #EACFFF solid 1px;
		border-right: #EACFFF solid 24px;
	width: 276px;
	height: 62px;

	}

	.nav li:last-child{
		border-bottom: #EACFFF solid 1px;
	}
	.nav li a br{
		display: none;
	}
	
.nav li a {
	/* ここにスタイルを指定 */
	color: #382A3F; /* テキストの色 */
	text-decoration: none; /* 下線をなしに */
	font-size: 100%;
	background-image: none; /* 通常時は背景画像を表示しない */
	white-space: nowrap;
	
	
	/* 他のスタイルプロパティを追加 */
	}
	
	.nav li a:hover {
	/* ホバー時のスタイルを指定 */
	color: #8086dc;
	background: url("../images/header_hikouki.png"); /* 背景画像を指定 */
	background-repeat: no-repeat; /* 背景画像を繰り返し表示しない */
	background-position: 0; /* 背景画像を中央に配置 */
	background-size: 40px; /* 背景画像を要素内に収める */
	}

	.sp_sns img{
		padding-top:5%;
	}

	.sp_sns{
		text-align: right;
	}

	img.sp_header_img{
		padding: 20px 16px 0px;
	}
}

@media print, screen and ( min-width : 1001px ) {
	
.s_mail {
	display: none;
}
	

	
	header {
	width:100%;
	z-index:10000;
	position:absolute;
	background: #FFF;
	top:-200px;
	left:0;
	margin-top:200px !important;
	font-size: 16px;
}
	
	.scroll {
	background:#FFF;
	height:80px;
	width:100%;
	z-index:10000;
	position:fixed;
	top:0;
	left:0;
	margin-top:0 !important;
    transition: top 1s ease-in;
    -webkit-transition: top 1s ease-in;
    -moz-transition: top 1s ease-in;
}

  /* .h_logo img {
	   padding-top: 7px;
  } */
  #h_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
	 
	
  }
	
	.h_logo {
		top: 0;
	  left: 0;
	  position: absolute;
	  padding: 16px 0px 8px 64px
	}
	

	
.nav {
		position: absolute !important;
		top: 0;
		right:0;
	}
	
	.t_contactBtn {
		margin-top: -8px;
	}
	
	.t_contactBtn a {
		width: 170px;
	}
	
  #g-nav ul {
    position: relative;
    display: flex;
	align-items: center;
	margin-right: 64px;
	min-width:814px ;
  }
  #g-nav li {
    position: relative;
    margin-left: 30px;
	   
  }

  #g-nav li a {
    position: relative;
    display: block;
    text-align: center;
	  text-decoration: none;
	  margin-top: 16px;
  }
	

	nav .sub-menu,.mean-container .mean-nav ul ul {
  background: #fff;
}
	

.scroll .h_logo {
	width: 180px;
	margin-top: 6px;
	}
	
header.scroll {
	font-size: 14px;
	box-shadow: 0px 8px 8px -4px #d9d9d9;
	}
	
.scroll #g-nav li a {
		margin-top: 25px;
	}
	
.scroll .t_contactBtn a {
		width: 150px;
	}

nav ul li.current a,
nav ul li a:hover{
	padding-bottom: 5px;
	border-bottom: 1px solid #8086DC;
}

.sp_logo{
	width: 150px;
	height: auto;
}
	
}

@media only screen and (max-width: 834px) {
	.nav li a:hover {
		background-size: 30px; /* 背景画像を要素内に収める */

	} 
}
  
  