@charset "utf-8";
/* CSS Document */


/*フェードインアップ*/
.up {
  transform: translate(0,50px); 
  -webkit-transform: translate(0,50px); 
  opacity: 0; 
	 transition: 1s;
}

.up_anime {
  transform: translate(0,0); 
  -webkit-transform: translate(0,0); 
  opacity: 1;  
}

