.tab-004 {
    display: flex;
  margin: 0% auto;
    align-items: center;
    flex-wrap: wrap;
    max-width: 900px;
    justify-content: center;
    margin-bottom: 96px;
}

.tab-004 > label {
    flex: 1 1;
    order: -1;
    position: relative;
    min-width: 70px;
    padding: .7em 1em;
    background-color: #FCF9FF;
    color: #EACFFF;
    font-size: 100%;
    text-align: center;
    cursor: pointer;
}

.tab-004 > label:hover,
.tab-004 label:has(:checked) {
    background-color: #DAADFF;
    color: #382A3F;
}

.tab-004 label:has(:checked)::before {
    position: absolute;
    bottom: -8px;
    left: 50%;
    transform: translateX(-50%);
    width: 18px;
    height: 9px;
    background-color: #DAACFA;
    content: '';
    clip-path: polygon(0 0, 100% 0, 50% 100%);
}

.tab-004 input {
    display: none;
}

.tab-004 > div {
    display: none;
    width: 100%;
    padding: 40px 91px 64px ;
}

.tab-004 label:has(:checked) + div {
    display: block;
}

.tabu{
    margin-top: 3%;
}

.tabu_1{
    margin-top: 2%;
}

.tabu_2{
    list-style: circle;
}

.tabu_bg3{
    height: 80vh; /* 全画面表示フルなら100 */
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    background-image: url("../images/2483610.png");
      position: relative;
  }

  /* .os_title{
    text-align: right;
    margin-bottom: 5%;
  } */
  
  .os_flexbox{
    display: flex;
    max-width: 890px;
    border-bottom: #EACFFF solid 1px;
    padding: 2% 0%;
    justify-content: space-around;
    align-items: center;
  }

  .os_flexitem_01{
    width: 253px;
    font-size: 16px;
    font-weight: bold;
  }

  .os_flexitem_02{
    width: 617px;
    font-size: 16px;
  }
.os_bg{
  background-color: #FCF9FF;
  border-radius: 12px;
  margin-top: 30px;
  width: 1072px;
}

.font_s{
	font-size: 16px;
  margin-bottom: 40px;
}	

.cp_actab-content p{
  font-size: 16px;
}

  @media only screen and (max-width: 375px) {
    .os_flexitem_02 li{
      font-size: 100%;
    }
.os_flexitem_02{
  font-size: 14px;
  padding-bottom: 16px;
  width: 100%;

}
.os_flexitem_01{
  font-size: 14px;
  padding-bottom: 8px;
  padding-top: 20px;
  width: 100%;
}
.os_flexbox{
  display: block;
}

.os_title{
  text-align: center;
  font-size: 140%;
}
.tab-004>div{
  padding: 40px 16px;
}

.ckd {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

  }
