/* 送信ボタン */
input#agree {
  -webkit-tap-highlight-color:rgba(0,0,0,0);
  cursor:pointer;
}
#agree,
input[type=search]
{
	outline: none;
}
/*ボタン*/
#submit-btn {
	display: block;
	text-align: center;
	/* vertical-align: middle; */
	text-decoration: none;
	width: 180px;
	padding: 0.5rem 1rem;
	font-weight: bold;
	border: 2px solid #8086DC;
	color: #8086DC;
	cursor: pointer;
	position: relative;
 	overflow: hidden;
 	z-index: 1;
  
}
#submit-btn::before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #8086DC;
	transform: translateX(-100%);
	transition: all .3s;
	z-index: -1;
}
#submit-btn:hover::before {
	transform: translateX(0);
}
#submit-btn:hover {
	color: #fff;
}


  .privacy-policy {
    width: 708px;
    height: 240px;
    font-size: 12px;
    margin: 3% auto;
    height: 150px;
    overflow: scroll;
    padding: 25px;
    border: 1px solid #EACFFF;
    border-radius: 4px;
    background-color: #fff;
    line-height: 1.5;
    &__item {
      p {
        margin-bottom: 25px;
      }
    }
  }

  .touroku{
    margin: 0% auto;

  }


  .touroku_flexitem{
    width: 252px;
    display: flex;
    

  }

  .touroku_flexitem p{
    font-weight: bold;
    font-size: 18px;
    padding:0px 10px;
  }

  .checkbox_flexitem{
    align-content:space-around;
  }

  .doui{
    margin: 3% auto;
    text-align: center;
  }

  .touroku_bgimg{
    /* height: auto; */
     /* 全画面表示フルなら100 */
    background-repeat: no-repeat;
    /* background-position: center center; */
    background-image: url("../images/touroku_haikei.png");
    position: relative;
    margin: 0% auto;
    padding: 64px 0px;
    background-size:cover;                               /* 画像のサイズを指定    */
    width:1072px;                                            /* 横幅のサイズを指定    */
    height:auto;                                          /* 縦幅のサイズを指定    */

  }

/* input要素の枠を大きくする */
.waku_input {
  width: 150px; /* 幅を適宜調整 */
  height: 45px;
  padding: 5px; /* 入力フィールド内の余白を設定 */
  border: 0.5px solid #EACFFF; /* 枠線を追加し、色を適宜変更 */
  /* margin-bottom: 20px; */
  border-radius: 5px; /* 枠線の角を丸くする */
  /* 他のスタイルも適宜追加してください */
}

.waku_input_1{
  width: 350px; /* 幅を適宜調整 */
  height: 45px;
  padding: 5px; /* 入力フィールド内の余白を設定 */
  border: 0.5px solid #EACFFF; /* 枠線を追加し、色を適宜変更 */
  /* margin-bottom: 20px; */
  border-radius: 5px; /* 枠線の角を丸くする */
  /* 他のスタイルも適宜追加してください */

}

.hissuu{
  font-size: 12px;
  text-align: center;
  align-items: center;
  color: #fff;
  background-color: #8DA5FA;
  border-radius: 5px;
  padding:4px 8px 5px;
  max-width: 35px;
  height: min-content;
}


/* ボタンの共通スタイル */
.custom-button {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  line-height: 1;
  text-decoration: none;
  color: #ffffff;
  font-size: 14px;
  border-radius: 10px;
  letter-spacing: 3px;
  width: 40%;
  height: 50px;
  border: none;
  margin: 3% auto;
  transition: 0.3s;
  background-image: radial-gradient(circle at 100% 0%, rgba(218, 173, 255, 1) 42%, rgba(154, 176, 227, 1));
}

.custom-button:hover{
  color:#382A3F;
}

.custom-button::before { /* 背景の表示設定 */
  content: "";
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  right: 3px;
  width: 23px; /* 横幅 */
  height: 23px; /* 高さ */
}

.custom-button::after { /* くの字の表示設定 */
  content: "";
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  right: 25px;
  width: 8px;
  height: 8px;
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
  transform: rotate(45deg);
}

/* 無効な状態のボタンのスタイル */
.custom-button.disabled {
  background-color: #DADADA;
  pointer-events: none; /* ボタンを無効化してクリックを防ぐ */
}

/* 無効な状態のボタンの矢印スタイル */
.custom-button.disabled::after {
  border-top: 1px solid #333; /* 矢印の色を変更 */
  border-right: 1px solid #333; /* 矢印の色を変更 */
}

div.touroku_flexbox{
  max-width: 980px;
  display: flex;
  align-items: center;

}

.touroku_inner{
  /* width: 565px; */
  margin: 0% auto;
  width: 708px;
  padding-top:40px;
}






.ckd{
  font-size: 18px;
  font-weight: bold;
  margin: 20px 0px 40px 0px;
  text-align: center;
  height: 30px;
}

.ck {
  margin-right: 5px;
}


div.touroku_flexbox {
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  margin-bottom: 20px;
}
.touroku_flexitem{
  -webkit-flex:2;
  flex: 2;
  margin-right: 30px;
}
.touroku_flexitem:last-child{
  -webkit-flex:3;
  flex: 3;
  margin-right:0;
}

/* placeholderのフォントサイズを設定 */
.waku_input::placeholder {
  font-size: 18px;
  padding: 8px;

}

/* 入力テキストのフォントサイズを設定 */
.waku_input {
  font-size: 18px;
  padding: 8px;

}

/* placeholderのフォントサイズを設定 */
.waku_input_1::placeholder {
  font-size: 18px;
  padding: 8px;

}

/* 入力テキストのフォントサイズを設定 */
.waku_input_1 {
  font-size: 18px;
  padding: 8px;

}





 @media only screen and (max-width: 375px) {
.touroku_inner {
  width: 375px;
  padding:40px 16px;
}
div.touroku_flexbox{
  display: block;
}
.touroku_flexitem p {
  font-size: 16px;
  padding-left: 8px;
}

.waku_input {
  width: 343px;
  height: 42px;
  border-radius: 4px;
}
.waku_input_1 {
  width: 343px;
  height: 42px;
  padding: 5px;
  /* margin-bottom: 20px; */
  border-radius: 4px;
  margin-top: 8px;
}


 .touroku_bgimg {
  background-repeat: no-repeat;
  background-image: url(../images/touroku_haikei.png);
  position: relative;
  margin: 0% auto;
  padding: 64px 0px;
  background-size: cover;
  width: 100%;
  height: auto;
}

.privacy-policy{
  width: 303px;
  height: 240px;
  padding: 20px;
}

/* placeholderのフォントサイズを設定 */
.waku_input::placeholder {
  font-size: 16px;
}

/* 入力テキストのフォントサイズを設定 */
.waku_input {
  font-size: 16px;

}

/* placeholderのフォントサイズを設定 */
.waku_input_1::placeholder {
  font-size: 16px;

}

/* 入力テキストのフォントサイズを設定 */
.waku_input_1 {
  font-size: 16px;

}

    }
