@charset "UTF-8";
/* ------------------------------
* モジュールファイル
------------------------------ */
/* 変数用 */
/* ------------------------------
* 変数設定用SCSS
------------------------------ */
/* カラー */
/* 画面幅 */
/* break point */
/* mixin関数 */
/* ------------------------------
* mixin設定用SCSS
------------------------------ */
/* 画像パス */
/* リセットCSS */
/*! destyle.css v4.0.0 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
/* ============================================ */
*,
::before,
::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -webkit-tap-highlight-color: transparent; /* 3*/
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Replaced content */
/* ============================================ */
/**
 * Prevent vertical alignment issues.
 */
svg,
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable.
 * 1. Make form elements stylable across systems iOS especially.
 * 2. Inherit text-transform from parent.
 */
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none; /* 1 */
  -moz-appearance: none;
  appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  border-radius: 0;
  text-align: inherit;
  text-transform: inherit; /* 2 */
}

/**
 * Correct cursors for clickable elements.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  cursor: pointer;
}

button:disabled,
[type=button]:disabled,
[type=reset]:disabled,
[type=submit]:disabled {
  cursor: default;
}

/**
 * Improve outlines for Firefox and unify style with input elements & buttons.
 */
:-moz-focusring {
  outline: auto;
}

select:disabled {
  opacity: inherit;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

legend {
  padding: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * Correct the outline style in Safari.
 */
[type=search] {
  outline-offset: -2px; /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Fix font inheritance.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/**
 * Fix appearance for Firefox
 */
[type=number] {
  -moz-appearance: textfield;
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable]:focus {
  outline: auto;
}

/* Tables */
/* ============================================ */
/**
1. Correct table border color inheritance in all Chrome and Safari.
*/
table {
  border-color: inherit; /* 1 */
  border-collapse: collapse;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

/* ------------------------------
* フリーランス求人　トップ用SCSS
------------------------------ */
/* common st */
body {
  color: #382A3F;
  font-family: "Noto Sans JP", "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: relative;
}

.-en {
  font-family: "Helvetica Neue", "Arial", sans-serif;
}

@font-face {
  font-family: "ooohbaby";
  src: url("../font/OoohBaby-Regular.ttf");
}
.-handWriteFont, .-num {
  font-family: "ooohbaby";
}

.-num {
  color: #DAADFF;
}

/* 見出し st */
.sectionTitle {
  text-align: center;
  width: 100%;
}

.sectionTitle_main {
  background-image: url("../images/bg_title_image.png");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 2.25rem;
  font-weight: bold;
  padding-bottom: 10px;
  letter-spacing: 0.1rem;
}

@media screen and (max-width: 420px) {
  .sectionTitle_main {
    font-size: 1.75rem;
  }
}
.sectionTitle_sub {
  font-size: 1.125rem;
  line-height: 160%;
  margin-top: 20px;
}

/* 見出し en */
.-desktop_none {
  display: none;
}

@media screen and (max-width: 768px) {
  .-desktop_none {
    display: block;
  }
}
.-desktop_tablet_none {
  display: none;
}

@media screen and (max-width: 768px) {
  .-desktop_tablet_none {
    display: none;
  }
}
@media screen and (max-width: 420px) {
  .-desktop_tablet_none {
    display: block;
  }
}
.-mobile_none {
  display: block;
}

@media screen and (max-width: 768px) {
  .-mobile_none {
    display: block;
  }
}
@media screen and (max-width: 420px) {
  .-mobile_none {
    display: none;
  }
}
/* uncount list st */
.-uncountList {
  list-style-type: disc;
  list-style-position: inside;
}

/* uncount list en */
/* button */
.btn {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
  border: 1px solid #b97ced;
  border-radius: 12px;
  font-size: 1.25rem;
  font-weight: bold;
  margin: 20px auto 0;
  outline: none;
  padding: 24.5px 8px;
  text-align: center;
  -webkit-transition: all 0.6s ease-out;
  transition: all 0.6s ease-out;
  width: min(100%, 526px);
}

@media screen and (max-width: 420px) {
  .btn {
    width: min(100%, 343px);
  }
}
.btn_link {
  color: #b97ced;
  text-decoration: none;
}

.btn:hover {
  border-color: transparent;
  background: -webkit-gradient(linear, left top, right top, from(rgb(154, 176, 255)), color-stop(52%, rgb(239, 207, 255)), color-stop(78%, rgb(234, 207, 255)), to(rgb(218, 173, 255)));
  background: linear-gradient(90deg, rgb(154, 176, 255), rgb(239, 207, 255) 52%, rgb(234, 207, 255) 78%, rgb(218, 173, 255));
  background-size: 200% auto;
  background-position: 30% center;
}

.btn:hover .btn_link {
  color: #fff;
}

.btn.-disabled {
  background: #DADADA;
}

/* common  en */
/* header st */
.header {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 16px 0 0;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
}

.header_logo_link {
  display: block;
}

.header_logo_img {
  height: 60px;
  width: max(100%, 180px);
}

@media screen and (max-width: 768px) {
  .header_logo_img {
    margin: 16px;
  }
}
@media screen and (max-width: 420px) {
  .header_logo_img {
    width: inherit;
  }
}
@media screen and (max-width: 768px) {
  .header_logo {
    position: absolute;
    top: 0;
    left: 0;
  }
}
.header.is_bg_changed {
  background-color: rgba(255, 255, 255, 0.85);
}

.header_menu {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 10px;
  margin-right: 10px;
  white-space: nowrap;
}

.header_menuList:not(:first-child) {
  margin-left: 32px;
}

@media screen and (max-width: 768px) {
  .header_menuList:not(:first-child) {
    margin-left: 0;
  }
}
.header_menuList_link {
  font-size: 1rem;
  font-weight: 600;
}

@media screen and (max-width: 768px) {
  .header_menuList_link {
    font-size: 1.125rem;
    font-weight: normal;
  }
}
.header_menuList_link.is_current {
  position: relative;
}

.header_menuList_link.is_current::after {
  content: "";
  background-color: #b97ced;
  bottom: -27px;
  display: block;
  height: 2px;
  position: absolute;
  width: 100%;
}

.header_menuList_link.-igIcon {
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  height: 24px;
  background-image: url("../images/header_ig_icon.svg");
  text-indent: -9999px;
  width: 24px;
}

@media screen and (max-width: 768px) {
  .header_menuList_link.-igIcon {
    background-image: none;
    text-indent: 0;
  }
}
.header_menuList_link:hover {
  opacity: 0.5;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

@media screen and (max-width: 768px) {
  .header_menuList_link:hover {
    opacity: 1;
  }
}
@media screen and (max-width: 768px) {
  .m-header {
    padding: 0;
  }
  .m-header_contents {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
  }
  .m-header_logo {
    position: static;
  }
  .m-header_inner_logo {
    display: block;
    margin-left: 16px;
    margin-top: 16px;
    width: min(162px, 100%);
  }
  .m-header_inner_logo_link {
    display: block;
  }
  .m-header_navBtn {
    height: 25px;
    margin: 12px;
    width: 30px;
    position: relative;
    right: 15px;
    top: 20px;
    z-index: 1;
  }
  .m-header_navBtn_border {
    background-color: #382A3F;
    border-radius: 2px;
    display: block;
    height: 3px;
    width: 100%;
    position: absolute;
    left: 0;
  }
  .m-header_navBtn_border:first-child {
    top: 0;
  }
  .m-header_navBtn_border:nth-child(2) {
    top: calc(50% - 1.5px);
  }
  .m-header_navBtn_border:last-child {
    bottom: 0;
  }
  .m-header_inner {
    display: none; /* 初回 */
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    background-color: rgba(0, 0, 0, 0.4);
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 0;
    height: 100vh;
    width: 100%;
  }
  .m-header_menu {
    -webkit-box-align: inherit;
    -ms-flex-align: inherit;
    align-items: inherit;
    background-blend-mode: soft-light;
    background-color: rgb(249, 245, 251);
    background-position: center center;
    background-repeat: repeat;
    background-size: cover;
    background-image: url("../images/bg_free_memberRegist.png");
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 0;
    height: 100%;
    width: 85%;
    position: absolute;
    right: 0;
  }
  .m-header_menuList {
    border-top: 1px solid #EACFFF;
    width: 100%;
    position: relative;
  }
  .m-header_menuList::after {
    border-bottom: 1px solid #fff;
    content: "";
    display: block;
    height: 61px;
    background-image: url("../images/m_header_menu_arrow.svg");
    width: 24px;
    position: absolute;
    right: 0;
    top: 0;
  }
  .m-header_menuList:last-child {
    border-bottom: 1px solid #EACFFF;
  }
  .m-header_menuList:last-child::after {
    border-bottom: 0;
  }
  .m-header_menuList_link {
    display: block;
    font-size: 1.125rem;
    height: 62px;
    padding: 20px 16px 20px 56px;
    width: 100%;
  }
  .m-header_menuList_link.is_current {
    display: block;
  }
  .m-header_menuList_link.is_current::after {
    background-image: url("../images/m_header_current.svg");
    background-color: transparent;
    background-repeat: no-repeat;
    height: 19px;
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
    width: 28px;
    left: 8px;
    bottom: calc(50% - 12px);
  }
  .m-header_menuList_link.-igIcon {
    height: inherit;
  }
  .m-header_menu_memberRegist_anchor {
    padding: 20px 16px 24px;
  }
  .m-header_menu_memberRegist_anchor_link {
    display: block;
  }
  .m-header_menu_memberRegist_anchor_img {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .is_header_opened {
    overflow-y: hidden;
  }
  .is_header_opened .m-header_contents {
    width: 0;
  }
  .is_header_opened .m-header_logo {
    position: absolute;
    z-index: -1;
  }
  .is_header_opened .m-header_navBtn {
    position: absolute;
  }
  .is_header_opened .m-header_inner {
    display: block;
  }
  .is_open .m-header_navBtn_border:first-child {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 11px;
  }
  .is_open .m-header_navBtn_border:nth-child(2) {
    display: none;
  }
  .is_open .m-header_navBtn_border:last-child {
    bottom: 11px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}
/* header en */
/* メインビジュアル st */
.mainVisual {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 87.5vh;
  background-image: url("../images/mainVisual.jpg");
  margin: 0 auto;
  width: 100%;
  position: relative;
}

@media screen and (max-width: 420px) {
  .mainVisual {
    height: 375px;
    background-image: url("../images/m_bg_mainVisual.jpg");
  }
}
.mainVisual_titleBox {
  padding-left: 3.5vw;
  padding-top: 20vh;
}

@media screen and (max-width: 420px) {
  .mainVisual_titleBox {
    padding-left: 0.5113vw;
    padding-top: 0;
  }
}
.mainVisual_titleBox_main {
  width: 59.58%;
}

.mainVisual_titleBox_sub {
  font-size: 1.25rem;
  letter-spacing: 0.2rem;
  line-height: 200%;
  margin-left: 5%;
  margin-top: 32px;
}

@media screen and (max-width: 420px) {
  .mainVisual_titleBox_sub {
    font-size: 1rem;
    letter-spacing: 0.05rem;
    line-height: 160%;
    margin-left: 0;
    margin-top: 28px;
    text-align: center;
    position: static;
    left: 50%;
  }
}
/* メインビジュアル en */
/* 会員登録動線バナー st */
.free_memberRegist_anchor {
  height: 154px;
  width: 154px;
  position: absolute;
  bottom: -55px;
  left: 79.84%;
}

@media screen and (max-width: 420px) {
  .free_memberRegist_anchor {
    height: 124px;
    width: 124px;
    bottom: 5%;
    left: inherit;
    right: 5%;
  }
}
.free_memberRegist_anchor_link {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  height: 100%;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-image: url("../images/free_memberRegist_anchor.png");
  text-indent: -9999px;
  width: 100%;
}

@media screen and (max-width: 420px) {
  .free_memberRegist_anchor_link {
    background-image: url("../images/m_free_memberRegist_anchor.png");
  }
}
.free_memberRegist_anchor_link:hover {
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
}

/* 会員登録動線バナー en */
/* twinbeeができること st */
.canDo_twinbee {
  margin-top: 72px;
}

@media screen and (max-width: 420px) {
  .canDo_twinbee {
    margin: 0 auto;
    margin-top: 48px;
  }
}
.canDo_twinbee_content {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #faf5ff;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 483px;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  margin: 0 auto;
  margin-bottom: 40px;
  padding: 24px 30px;
  width: min(100%, 1072px);
}

@media screen and (max-width: 768px) {
  .canDo_twinbee_content {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: auto;
    width: min(100%, 690px);
  }
}
@media screen and (max-width: 420px) {
  .canDo_twinbee_content {
    display: block;
    height: auto;
    width: min(100%, 343px);
  }
}
.canDo_twinbee_content:first-of-type {
  background-image: url("../images/canDo_twinbee_content_1.png");
}

@media screen and (max-width: 420px) {
  .canDo_twinbee_content:first-of-type {
    background-image: none;
  }
}
.canDo_twinbee_content:nth-child(2) {
  background-position: 30px 0;
  background-size: contain;
  margin-top: 40px;
}

@media screen and (max-width: 768px) {
  .canDo_twinbee_content:nth-child(2) {
    margin-bottom: 40px;
    position: relative;
  }
}
@media screen and (max-width: 420px) {
  .canDo_twinbee_content:nth-child(2) {
    background-position: center;
  }
}
@media screen and (max-width: 768px) {
  .canDo_twinbee_content:nth-child(2)::before {
    content: "";
    background-image: -webkit-gradient(linear, left top, right top, color-stop(41%, rgba(249, 245, 251, 0)), color-stop(49%, rgba(249, 245, 251, 0.4)), color-stop(58%, rgba(249, 245, 251, 0.9)), color-stop(91%, rgba(249, 245, 251, 0.9)));
    background-image: linear-gradient(90deg, rgba(249, 245, 251, 0) 41%, rgba(249, 245, 251, 0.4) 49%, rgba(249, 245, 251, 0.9) 58% 79%, rgba(249, 245, 251, 0.9) 91%);
    border-radius: 12px;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }
}
@media screen and (max-width: 768px) and (max-width: 420px) {
  .canDo_twinbee_content:nth-child(2)::before {
    content: none;
  }
}
.canDo_twinbee_content:nth-child(3) {
  background-position: right;
  background-image: url("../images/canDo_twinbee_content_2.png");
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

@media screen and (max-width: 768px) {
  .canDo_twinbee_content:nth-child(3) {
    background-size: contain;
    border-radius: 12px;
    position: relative;
  }
}
@media screen and (max-width: 420px) {
  .canDo_twinbee_content:nth-child(3) {
    background-image: none;
    background-position: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}
@media screen and (max-width: 768px) {
  .canDo_twinbee_content:nth-child(3)::before {
    content: "";
    background-image: -webkit-gradient(linear, right top, left top, color-stop(41%, rgba(249, 245, 251, 0)), color-stop(49%, rgba(249, 245, 251, 0.4)), color-stop(58%, rgba(249, 245, 251, 0.9)), color-stop(91%, rgba(249, 245, 251, 0.9)));
    background-image: linear-gradient(-90deg, rgba(249, 245, 251, 0) 41%, rgba(249, 245, 251, 0.4) 49%, rgba(249, 245, 251, 0.9) 58% 79%, rgba(249, 245, 251, 0.9) 91%);
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
  }
}
@media screen and (max-width: 768px) and (max-width: 420px) {
  .canDo_twinbee_content:nth-child(3)::before {
    background-image: none;
  }
}
.canDo_twinbee_content:last-child {
  background-size: cover;
  background-image: url("../images/canDo_twinbee_content_3.png");
  margin-bottom: 0;
  position: relative;
}

@media screen and (max-width: 420px) {
  .canDo_twinbee_content:last-child {
    background-image: none;
    background-position: center;
    position: static;
  }
}
.canDo_twinbee_content:last-child::before {
  content: "";
  background-image: -webkit-gradient(linear, left top, right top, color-stop(41%, rgba(249, 245, 251, 0)), color-stop(49%, rgba(249, 245, 251, 0.4)), color-stop(58%, rgba(249, 245, 251, 0.9)), color-stop(91%, rgba(249, 245, 251, 0.9)));
  background-image: linear-gradient(90deg, rgba(249, 245, 251, 0) 41%, rgba(249, 245, 251, 0.4) 49%, rgba(249, 245, 251, 0.9) 58% 79%, rgba(249, 245, 251, 0.9) 91%);
  border-radius: 12px;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

@media screen and (max-width: 420px) {
  .canDo_twinbee_content:last-child::before {
    background-image: none;
    position: static;
  }
}
.canDo_twinbee_content_inner {
  width: 46.27%;
}

@media screen and (max-width: 768px) {
  .canDo_twinbee_content_inner {
    width: 50%;
  }
}
@media screen and (max-width: 420px) {
  .canDo_twinbee_content_inner {
    width: 100%;
    margin: 0 auto;
  }
}
.canDo_twinbee_content_title {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.625rem;
  font-weight: bold;
  line-height: 140%;
  letter-spacing: 0.05rem;
  position: relative;
}

@media screen and (max-width: 420px) {
  .canDo_twinbee_content_title {
    font-size: 1.25rem;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}
.canDo_twinbee_content_title_num {
  color: #DAADFF;
  font-size: 5rem;
  font-weight: normal;
  line-height: 100%;
  margin-right: 20px;
}

@media screen and (max-width: 420px) {
  .canDo_twinbee_content_title_num {
    font-size: 4rem;
  }
}
.canDo_twinbee_content_text {
  font-size: 1rem;
  line-height: 180%;
  margin-top: 20px;
  padding: 0 8px;
  width: 100%;
  position: relative;
  z-index: 1;
}

@media screen and (max-width: 768px) {
  .canDo_twinbee_content_text {
    padding: 0;
    width: 100%;
  }
}
@media screen and (max-width: 420px) {
  .canDo_twinbee_content_text {
    display: none; /* 初回着地時 */
    font-size: 0.875rem;
    margin: 0 auto;
    width: min(100%, 283px);
  }
}
@media screen and (max-width: 420px) {
  .m_canDo_twinbee_content_img {
    margin-top: 20px;
    width: min(100%, 283px);
  }
}
.canDo_twinbee_content_icon_plus {
  display: none;
}

@media screen and (max-width: 420px) {
  .canDo_twinbee_content_icon_plus {
    display: block;
    font-size: 0.875em;
    font-weight: bold;
    line-height: 160%;
    padding-top: 28px;
    text-align: center;
  }
}
@media screen and (max-width: 420px) {
  .canDo_twinbee_content_icon_plus::before {
    content: url(../images/m_plus.svg);
    padding-right: 12px;
    vertical-align: top;
  }
}
.canDo_twinbee_content_icon_plus.is_open {
  margin-bottom: 12px;
}

@media screen and (max-width: 420px) {
  .canDo_twinbee_content_icon_plus.is_open::before {
    content: url(../images/m_minus.svg);
  }
}
.canDo_twinbee_content_icon_minus {
  display: none;
}

@media screen and (max-width: 420px) {
  .canDo_twinbee_content_icon_minus {
    display: block;
    font-size: 0.875em;
    font-weight: bold;
    line-height: 160%;
    padding-top: 28px;
    text-align: center;
  }
}
@media screen and (max-width: 420px) {
  .canDo_twinbee_content_icon_minus::before {
    content: url(../images/m_minus.svg);
    padding-right: 12px;
    vertical-align: top;
  }
}
/* twinbeeができること en */
/* お仕事紹介 st */
.job_introduct {
  margin: 0 auto;
  margin-top: 96px;
  padding: 0 20px;
}

@media screen and (max-width: 420px) {
  .job_introduct {
    margin-top: 0;
    padding: 64px 0 0;
  }
}
.job_introduct_tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 40px auto 0;
  width: min(100%, 890px);
}

@media screen and (max-width: 420px) {
  .job_introduct_tab {
    margin: 20px 16px 0;
    width: inherit;
  }
}
.job_introduct_tabItem {
  width: 100%;
}

.job_introduct_tabItem_btn {
  background-color: #faf5ff;
  color: #EACFFF;
  display: block;
  font-size: 1.125rem;
  padding: 10px 0;
  text-align: center;
  width: 100%;
}

.job_introduct_tabItem_btn:hover {
  background-color: rgba(218, 173, 255, 0.6);
  color: #382A3F;
  font-weight: bold;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.job_introduct_tab .swiper-slide-thumb-active {
  position: relative;
}

.job_introduct_tab .swiper-slide-thumb-active span {
  background-color: #DAADFF;
  color: #382A3F;
  font-weight: bold;
}

.job_introduct_tab .swiper-slide-thumb-active::after {
  border-style: solid;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  border-top: 12px solid #DAADFF;
  border-bottom: 0;
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  bottom: -11px;
  left: calc(50% - 10px);
}

.job_introduct_content {
  background-color: #faf5ff;
  border-radius: 12px;
  margin: 20px auto 0;
  width: min(1072px, 100%);
}

@media screen and (max-width: 420px) {
  .job_introduct_content {
    margin: 20px 16px 0;
    width: inherit;
  }
}
.job_introduct_content_inner {
  padding: 40px 0 64px;
}

@media screen and (max-width: 420px) {
  .job_introduct_content_inner {
    padding: 40px 16px;
  }
}
.job_introduct_content_inner.-java, .job_introduct_content_inner.-webdesign {
  display: none; /* 初回 */
}

.job_introduct_content_inner_box {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0 auto;
  width: min(890px, 93%);
}

@media screen and (max-width: 420px) {
  .job_introduct_content_inner_box {
    display: block;
    width: 100%;
  }
}
.job_introduct_content_inner_boxTitle {
  font-size: 1.625rem;
  font-weight: bold;
  letter-spacing: 0.05rem;
}

@media screen and (max-width: 420px) {
  .job_introduct_content_inner_boxTitle {
    font-size: 1.125rem;
    text-align: center;
  }
}
.job_introduct_content_inner_boxImg {
  display: block;
  height: 220px;
  width: 344px;
}

@media screen and (max-width: 420px) {
  .job_introduct_content_inner_boxImg {
    margin-top: 8px;
    width: 100%;
  }
}
.job_introduct_content_inner_data {
  margin: 0 auto;
  width: min(890px, 93%);
}

@media screen and (max-width: 420px) {
  .job_introduct_content_inner_data {
    width: 100%;
  }
}
.job_introduct_content_inner_data_wrap {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 1px solid #EACFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  margin-top: 20px;
  padding-bottom: 12px;
}

.job_introduct_content_inner_data_wrap:first-of-type {
  margin-top: 32px;
}

@media screen and (max-width: 420px) {
  .job_introduct_content_inner_data_wrap {
    display: block;
  }
}
.job_introduct_content_inner_data_title {
  min-width: 253px;
}

@media screen and (max-width: 420px) {
  .job_introduct_content_inner_data_title {
    min-width: 100%;
  }
}
.job_introduct_content_inner_data_content {
  line-height: 180%;
}

@media screen and (max-width: 420px) {
  .job_introduct_content_inner_data_content {
    margin-top: 8px;
  }
}
.swiper-pagination {
  position: absolute;
  bottom: 0;
}

/* お仕事紹介 en */
/* ご利用の流れ st */
.flow {
  background-color: #faf5ff;
  margin-top: 96px;
  padding: 96px 0;
}

@media screen and (max-width: 420px) {
  .flow {
    margin-top: 64px;
    padding: 40px 0;
  }
}
.flow_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
  margin: 64px auto 0;
  width: min(1072px, 100%);
}

@media screen and (max-width: 768px) {
  .flow_list {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 4%;
    margin-top: 20px;
    width: 93%;
  }
}
@media screen and (max-width: 420px) {
  .flow_list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 48px;
    padding: 0 16px;
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .flow_listItem {
    width: 30%;
  }
}
@media screen and (max-width: 420px) {
  .flow_listItem {
    background-color: #fff;
    width: 100%;
  }
}
.flow_listItem_inner {
  background-color: #fff;
  border-radius: 8px;
  padding: 36px 20px 12px 20px;
  position: relative;
}

.flow_listItem_inner::after {
  content: "";
  border-style: solid;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 14px solid #EACFFF;
  border-right: 0;
  display: block;
  height: 0;
  width: 0;
  position: absolute;
  top: 50%;
  right: -25px;
}

@media screen and (max-width: 420px) {
  .flow_listItem_inner::after {
    top: inherit;
    bottom: -25px;
    left: calc(50% - 7px);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}
@media screen and (max-width: 420px) {
  .flow_listItem_inner {
    background-color: transparent;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 20px;
    padding: 20px 8px;
  }
}
.flow_listItem_num {
  color: #DAADFF;
  font-size: 2.5rem;
  -webkit-transform: rotate(-10deg);
  transform: rotate(-10deg);
  position: absolute;
  left: -17px;
  top: -14px;
}

@media screen and (max-width: 420px) {
  .flow_listItem_num {
    display: block;
    font-size: 2rem;
    text-align: center;
    -webkit-transform: inherit;
    transform: inherit;
    width: 100%;
    left: 0;
    top: -20px;
  }
}
.flow_listItem_img {
  height: 120px;
  width: auto;
}

.flow_listItem_title {
  font-size: 1.125rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  margin-top: 20px;
  text-align: center;
}

@media screen and (max-width: 420px) {
  .flow_listItem_title {
    margin-top: 0;
    text-align: left;
  }
}
.flow_listItem_text {
  line-height: 180%;
  margin-top: 12px;
}

@media screen and (max-width: 420px) {
  .flow_listItem_text {
    font-size: 0.875rem;
    margin-top: 8px;
  }
}
.flow_listItem:last-of-type .flow_listItem_inner::after {
  display: none;
}

/* ご利用の流れ en */
/* よくある質問 st */
.faq {
  margin-top: 96px;
}

@media screen and (max-width: 420px) {
  .faq {
    margin-top: 64px;
  }
}
.faq_list {
  counter-reset: number 0;
  margin: 40px auto 0;
  width: min(890px, 100%);
}

@media screen and (max-width: 768px) {
  .faq_list {
    width: 93%;
  }
}
.faq_listItem {
  background-color: #faf5ff;
  padding: 20px;
}

.faq_listItem:not(:first-of-type) {
  margin-top: 4px;
}

.faq_listItem_title {
  font-size: 1.125rem;
  line-height: 160%;
}

.faq_listItem_title::before {
  content: "Q" counter(number) ". ";
  counter-increment: number 1;
  font-family: "Helvetica Neue", "Arial", sans-serif;
}

@media screen and (max-width: 420px) {
  .faq_listItem_title {
    font-size: 1rem;
    padding-right: 24px;
    position: relative;
  }
  .faq_listItem_title::after {
    background-image: url("../images/m_plus.svg");
    content: "";
    display: block;
    height: 20px;
    width: 20px;
    position: absolute;
    right: 0;
    top: calc(50% - 10px);
  }
}
@media screen and (max-width: 420px) {
  .faq_listItem_title.is_open {
    font-size: 1rem;
    padding-right: 24px;
    position: relative;
  }
  .faq_listItem_title.is_open::after {
    background-image: url("../images/m_minus.svg");
  }
}
.faq_listItem_cont {
  border-top: 1px solid #DAADFF;
  margin-top: 20px;
  padding: 20px 20px 0;
  line-height: 1.6rem;
}

@media screen and (max-width: 420px) {
  .faq_listItem_cont {
    display: none; /* 初回 */
    font-size: 0.875rem;
    line-height: 1.4rem;
  }
}
/* よくある質問 en */
/* 無料会員登録 st */
.free_memberRegist {
  background-blend-mode: soft-light;
  background-color: rgb(249, 245, 251);
  background-position: center center;
  background-repeat: repeat;
  background-size: contain;
  border-radius: 12px;
  background-image: url("../images/bg_free_memberRegist.png");
  margin: 96px auto 0;
  padding: 64px 0;
  width: min(100%, 1072px);
}

.free_memberRegist_form {
  margin: 40px auto 0;
  width: min(100%, 708px);
}

@media screen and (max-width: 420px) {
  .free_memberRegist_form {
    padding-left: 16px;
    padding-right: 16px;
  }
}
.free_memberRegist_formBox {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.free_memberRegist_formBox:not(:first-child) {
  margin-top: 20px;
}

@media screen and (max-width: 420px) {
  .free_memberRegist_formBox {
    -webkit-box-align: inherit;
    -ms-flex-align: inherit;
    align-items: inherit;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 8px;
  }
}
.free_memberRegist_formBox_title {
  font-weight: bold;
  font-size: 1.125rem;
  min-width: 252px;
}

.free_memberRegist_formBox_input {
  background-color: #fff;
  border: 1px solid #EACFFF;
  border-radius: 4px;
  font-size: 1.125rem;
  padding: 8px;
  width: 100%;
}

.free_memberRegist_formBox_input::-webkit-input-placeholder {
  color: rgba(56, 42, 63, 0.4);
}

.free_memberRegist_formBox_input::-moz-placeholder {
  color: rgba(56, 42, 63, 0.4);
}

.free_memberRegist_formBox_input:-ms-input-placeholder {
  color: rgba(56, 42, 63, 0.4);
}

.free_memberRegist_formBox_input::-ms-input-placeholder {
  color: rgba(56, 42, 63, 0.4);
}

.free_memberRegist_formBox_input::placeholder {
  color: rgba(56, 42, 63, 0.4);
}

.-require::before {
  background-color: #8DA5FA;
  border-radius: 4px;
  color: #fff;
  content: "必須";
  font-size: 0.75rem;
  font-weight: normal;
  letter-spacing: 0.075rem;
  padding: 2px 8px;
  margin-right: 8px;
}

@media screen and (max-width: 420px) {
  .-require::before {
    font-size: 0.75rem;
    line-height: 100%;
    margin-right: 8px;
  }
}
.free_memberRegist_form_privacyPolicy {
  background-color: #fff;
  border: 1px solid #EACFFF;
  border-radius: 4px;
  color: #382A3F;
  font-size: 0.75rem;
  font-weight: normal;
  height: 240px;
  line-height: 160%;
  margin: 20px auto 0;
  overflow: auto;
  padding: 20px;
  scrollbar-width: none;
  width: min(100%, 708px);
}

.free_memberRegist_form_checkBox {
  font-size: 1.125rem;
  font-weight: bold;
  margin-top: 20px;
  text-align: center;
}

@media screen and (max-width: 420px) {
  .free_memberRegist_form_checkBox {
    font-size: 1rem;
  }
}
.free_memberRegist_form_checkBoxItem {
  background-color: #fff;
  border: 1px solid #EACFFF;
  border-radius: 4px;
  height: 30px;
  margin-right: 20px;
  padding: 2px;
  vertical-align: middle;
  width: min(100%, 30px);
}

.free_memberRegist_form_checkBoxItem:checked {
  background: #EACFFF;
}

.free_memberRegist_form_checkBoxItem::after {
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
  content: "";
  display: block;
  height: 13.5px;
  width: 8.5px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  position: relative;
  left: 7px;
  top: 3px;
}

/* 無料会員登録 en */
/* アクセス st */
.access {
  height: auto;
  margin: 0 auto;
  padding-top: 96px;
}

@media screen and (max-width: 420px) {
  .access {
    padding: 64px 0;
  }
}
@media screen and (max-width: 420px) {
  .access_map_content {
    margin-top: 20px;
  }
}
.access_map_body {
  display: block;
  height: 480px;
  margin-top: 40px;
  text-align: center;
  width: 100%;
}

@media screen and (max-width: 420px) {
  .access_map_body {
    height: 375px;
    margin-top: 0;
  }
}
.access_map_content_data {
  display: none;
}

@media screen and (max-width: 420px) {
  .access_map_content_data {
    display: block;
    margin: 0 16px;
  }
}
@media screen and (max-width: 420px) {
  .access_map_content_dataBox {
    padding-bottom: 12px;
  }
}
@media screen and (max-width: 420px) {
  .access_map_content_dataBox_title {
    line-height: 160%;
  }
}
@media screen and (max-width: 420px) {
  .access_map_content_dataBox_text {
    line-height: 160%;
  }
}
/* アクセス en */
/* instagram st */
.instagram {
  margin-top: 96px;
}

@media screen and (max-width: 420px) {
  .instagram {
    margin-top: 64px;
  }
}
.instagram_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  margin-top: 40px;
}

.instagram_listItem_img {
  width: 100%;
}

/* instagram en */
/* footer st */
footer {
  background-color: #8DA5FA;
  height: 189px;
  margin-top: 96px;
  padding: 40px 0;
  text-align: center;
}

@media screen and (max-width: 420px) {
  footer {
    height: 134px;
    margin-top: 64px;
    padding: 20px 0;
  }
}
footer_logo {
  display: block;
  height: 80px;
  margin: 0 auto;
  width: 80px;
}

@media screen and (max-width: 420px) {
  footer_logo {
    height: 65px;
    width: min(100%, 65px);
  }
}
.copyRight {
  display: block;
  font-size: 0.75rem;
  margin-top: 10px;
}

/* footer en */