/* ------------------------------
* 変数設定用SCSS
------------------------------ */

/* カラー */
$cl_wt: #fff;
$cl_bk: #000;
$cl_text: #382A3F;
$cl_fadePurple: #faf5ff;
$cl_plPurple: #EACFFF;
$cl_midPurple: #b97ced;
$cl_mainPurple: #DAADFF;
$cl_corporatePurple: #DABAF4;
$cl_accentBlue: #8DA5FA;
$cl_gray: #DADADA;

/* 画面幅 */
$minWin: 1280px;

/* break point */
$breakPoint: (
	sp: 'screen and (max-width: 420px)',
	tab: 'screen and (max-width: 768px)',
);

@mixin mq($bp) {
	@media #{map-get($breakPoint,$bp)} {
		@content;
	}
}

