@import "var"; // 変数設定
@import "mixin"; // mixin設定

/* ------------------------------
* フリーランス求人　トップ用SCSS
------------------------------ */
/* common st */
body {
	color: $cl_text;
	font-family: "Noto Sans JP", "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", sans-serif;
	font-size: 16px;
}

.-en {
	font-family: "Helvetica Neue", "Arial", sans-serif;
}


/* header st */
.header {
	&_inner {
		background-color: $cl_plPurple;
	}
	&_logo {

	}
}
/*リスト*/
.header_menuList {
	&item{
	}
}

/* header en */

/* sectionTitle st */
.sectionTitle{
	margin: 0% auto;
	text-align: center;
	height: 64px;
	width: 100%;
	font-size: 32px;
	font-weight: bold;
	background-image: url(../images/bg_title_image.png);
	background-repeat: no-repeat;
	background-size: contain;
	width: 100%;
	position: relative;
	z-index: 0;
}
.h2_sub {
	font-size: 16px;
	margin-top: 20px;
  }
/* sectionTitle en */



/* free_memberRegist_anchor st */

/* free_memberRegist_anchor en */

/* canDo_twinbee st */
.canDo_twinbee {
	margin-top: 64px;
  }
  
  .canDo_twinbee_content {
	width: 1072px;
	height: 483px;
	padding: 24px 30px;
	margin: 0px auto;
	margin-bottom: 40px;
	border-radius: 12px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	background-color: #fcf9ff;
	background-image: url(../images/canDo_twinbee_content_1.png);
	background-repeat: no-repeat;
	background-size: contain;
	&:nth-child(2) {
		margin-top: 40px;
		background-position: 30px 0px;
	}
	&:nth-child(3) {
	justify-content: flex-start;
	background-image: url(../images/canDo_twinbee_content_2.png);
	background-position: right;
	}
	&:nth-child(4) {
		margin-bottom: 0px;
		background-image: url(../images/canDo_twinbee_content_3.png);
		background-size: cover;
	}
  }
  .canDo_twinbee_content {
	&_inner {
		width: 496px;
	}
	&_title {
		font-size: 24px;
		font-weight: bold;
		align-items: center;
	}
	&_text {
		font-size: 16px;
  }
}
/* canDo_twinbee en */

/* job_introduct st */

/* job_introduct en */

/* flow st */
.flow{
	background-color: $cl_fadePurple;
	margin-top: 96px;
	&_list{
		width: 1072px;
		display: flex;
		justify-content: space-between;
		padding: 0%;
		margin: 0% auto;
		list-style: none;
	}
}

.flow_listItem{
	margin-top: 64px;
	position: relative;
	&::after{
		content: "";
		position: absolute;
		width: 0px;
		height: 0px;
		border-style: solid;
		border-top: 7px solid transparent;
		border-bottom: 7px solid transparent;
		border-left: 17.32px solid $cl_plPurple;
		border-right: 0;
		margin: 0px 8px;
	}
		&_inner {
			width: 188.85px;
			text-align: center;
			background-color: $cl_wt;
			border-radius: 8px;
			margin-bottom: 10px;
		}
		&_title{
			font-size: 16px;
			font-weight: bold;
			text-align: center;
		}
		&_text{
			width: 188.5px;
			font-size: 14px;
		}

	}
	.flow_listItem_num{
		transform: rotate(-10deg);
	}
	.flow_listItem_img{
		width: 148.85px;
		height: auto;
	}
/* flow en */

/* faq st */
.faq{
	padding: 96px 0px;
}
.faq_list{
	width: 890px;
	margin: 40px auto 0px;
		&Item{
			margin-bottom: 4px;
			padding: 20px;
			background-color: $cl_fadePurple;
			&:last-child{
				margin-bottom: 0px;
			}
			&_title{
				font-size: 18px;
				font-weight: bold;
				padding-bottom: 20px;
				border-bottom: 1px solid $cl_plPurple;
			}
			&_text{
				font-size: 16px;
				padding: 20px 0px 12px 20px;
				margin-left: 0px;
			}
		}
		
}

/* faq en */

/* free_memberRegist st */
.free_memberRegist{
  padding: 64px 0px;
}

.free_memberRegist_formBox{
  display: flex;
  height: 45px;
  margin-bottom: 20px;
  justify-content: center;
	&_title{
		width: 252px;
		margin: 0px 20px 0px 8px;
		font-size: 18px;
		font-weight: bold;
	}
	&_input{
		width: 436px;
		height: 45px;
		border: 1px solid $cl_plPurple;
		border-radius: 4px;
		&::placeholder{
			font-size: 18px;
			padding: 8px;
		}
	}
}
.-require::before{
  content: "必須";
  font-size: 12px;
  letter-spacing: 10%;
  padding: 4px 8px 5px;
  color: $cl_wt;
  background-color: #8DA5FA;
  border-radius: 4px;
}
.free_memberRegist_form{
  &_privacyPolicy{
		width: 708px;
		height: 240px;
		font-size: 12px;
		border: 1px solid $cl_plPurple;
		border-radius: 4px;
		line-height: 160%;
		margin: 0% auto;
		padding: 20px;
		overflow: auto;
		scrollbar-width: none;
		-ms-overflow-style: none;
		&::-webkit-scrollbar {
			display: none;
		}
	}
	&_checkBox{
		font-size: 18px;
		font-weight: bold;
		margin-top: 20px;
		text-align: center;
	}
	&_submitBtn input[type=submit]{
		color: $cl_wt;
		display: flex;
		align-items: center;
		justify-content: center;
		text-decoration: none;
		font-size:20px;
		font-weight: bold;
		border-radius: 12px;
		width: 526px;
		height: 72px;
		margin: 0% auto;
		margin-top: 40px;
		background-image: linear-gradient(90deg, rgba(154, 176, 255, 1), rgba(239, 207, 255, 1) 52%, rgba(234, 207, 255, 1) 78%, rgba(218, 173, 255, 1));
		border: none;
		padding: 0px;
	}
}



/* free_memberRegist en */

/* access st */

/* access en */

/* instagram st */
h2.-en{
  margin: 0% auto;
  text-align: center;
  height: 64px;
  width: 100%;
  font-size: 32px;
  font-weight: bold;
  background-image: url(../images/bg_title_image.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  position: relative;
  z-index: 0;
}
.instagram{
  &_list{
		display: flex;
		margin: 0px auto;
		margin-top: 40px;
	}
	&_moreBtn{
		display: flex;
		align-items: center;
		justify-content: center;
		text-decoration: none;
		font-size:20px;
		font-weight: bold;
		border-radius: 12px;
		width: 526px;
		height: 72px;
		margin: 0% auto;
		margin-top: 40px;
		background-image: linear-gradient(90deg, rgba(154, 176, 255, 1), rgba(239, 207, 255, 1) 52%, rgba(234, 207, 255, 1) 78%, rgba(218, 173, 255, 1));
		&_link{
			color: $cl_wt;
			text-decoration: none;
		}
	}
}

/* instagram en */

/* footer st */

/* footer en */
