@use '../_style/style' as *; // 変数設定

/* ------------------------------
* フリーランス求人　トップ用SCSS
------------------------------ */
/* common st */
body {
	color: $cl_text;
	font-family: "Noto Sans JP", "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", sans-serif;
	font-size: 16px;
}

@font-face {
	font-family: 'ooohbaby';
	src: url('../font/OoohBaby-Regular.ttf');
}

.-handWriteFont {
	font-family: 'ooohbaby';
}
/* common  en */
